<p><strong>Calcular Limite Controle</strong></p>

<div class="row">
    <input type="button" id="btnCalcularLimite" class="btn btn-primary col-md-offset-10" value="Calcular Limite" />
</div>

<div class="row">
    <label id="lblLimites"></label>
    <div class="col-md-12">
        <div id="linechart_material" style="height:400px"></div>
    </div>
</div>
