@model Projeto.Web.Areas.AreaRestrita.Models.UsuarioViewModel
@{
    Layout = "~/Areas/AreaRestrita/Views/_Shared/_Layout.cshtml";
}

<title>Sistema Controle Estatístico de Processo</title>

    @if (DateTime.Now.Hour > 6 && DateTime.Now.Hour < 12)
    {
        <p><strong>Bom dia @Model.Usuario.Nome - Bem vindo(a) ao sistema</strong></p>
    }
    else if (DateTime.Now.Hour >= 12 && DateTime.Now.Hour < 18)
    {
        <p><strong>Boa tarde @Model.Usuario.Nome - Bem vindo(a) ao sistema</strong></p>
    }
    else
    {
        <p><strong>Boa noite @Model.Usuario.Nome - Bem vindo(a) ao sistema</strong></p>
    }

<p>Escolha a tarefa que deseja realizar no topo da página</p>